body {
  background: #e2e8f0;

}
.contentall {
  background-color: #e2e8f0;
  background-clip: padding-box;
    min-height: calc(100vh - 225px);

}
.containt {
  background-color: #f1f5f9;
  padding: 3%;
  border-radius: 15px;
  margin-top: 1%;

}
.header{
    // background: url('../../assets/img/banners/YSU\ 2_Banner\ Reconocimiento\ 1.png');
    height: 150px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    h1{
        color: #0B3B59;
        font-weight: bold;
        // text-transform: uppercase;
        font-size: 1.5rem;
        border-bottom: none;
        text-align: center;
    }
    .descripcion{
        color: #03496e;
        font-size: 1.3rem;
        text-align: center;


        span{
            color: #539BC1;
        }
    }
}
.bg-principal{
    &>.row{
        // min-height: calc(100vh - 100px);
    }
    h1{
        color: #3c404c;
        font-weight: 900;
        font-size: 1.5rem;
        // border-bottom: 1px solid #0B3B59;
        // text-transform: uppercase;
    }
    .img-c-rango{
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
        color: #0B3B59;
        // text-transform: uppercase;
        // font-weight: bold;
        font-size: 18px;
        text-align: left;
        .barra-progreso{
            .total{
                color: #3c404c;
                font-weight: bold;
                font-size: 26px;
            }
            .progress{
                height: 50px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 25px;
                .progress-bar{
                    background-color: #539BC1 !important;
                }
            }
            p{
                color: #3c404c;
                text-transform: uppercase;
                font-size: 12px;
                margin-top: 10px;
                span{
                    font-weight: 900;
                }
            }
        }
        .img{
            background: radial-gradient(ellipse at center, #03496e 0%, #24395a 100%);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            padding: 20px;
            img{

            }
        }
    }
}
.sidebar{
    .valores{
        background: #0B3B59
;

        border-radius: 15px;
    }
    h1{
        color: white;
        font-weight: 900;
        font-size: 36px;
        border-bottom: 1px solid white;
        text-transform: uppercase;
    }
}
.borrar-seleccion{
    font-size: 12px;
}
.competencias{
    .col{
        max-width: 150px !important;
    }
}
.personas{
    margin-top: 35px;
}

//Media
@media (max-width: 992.5px){
    .bg-principal{
        background-position-x: -100px;
    }
}
@media (max-width: 767.5px){
    .bg-principal{
        background: none;
    }
}
@media (max-width: 576px){
    .header{
        background-position: center !important;
        h1{
            text-align: center;
            font-size: 26px;
        }
        .descripcion{
            text-align: center;
        }
    }
}
.img-c-valor{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-transform: uppercase;
    // font-weight: bold;
    font-size: 18px;
    text-align: left;
    img{
        width: 88px;
        height: 88px;
        max-width: 88px !important;
        max-width: 88px !important;
        background-color: white;
        border-radius: 50px;
      }
    // &:hover {
    //     color: #00a4e0;
    // }
    // &:hover img{
    //     background-color: #00a4e0;
    // }
}



.card{
  width: 130px;
  margin-top: 10px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  height: 130px;
  transition: 300ms;
  span#number{
      font-size: 17px;
      font-weight: bold;
  }
  img{
      max-width: 67px;
      margin: auto;
      -webkit-filter: invert(100%); /* Safari/Chrome */
      filter: invert(100%);
  }
  &.blue {
    background-color: #1F2950 !important;
  }
  &.cyan {
    background-color: #3AAAB7 !important;
  }
  &.red {
    background-color: #B41A30 !important;
  }
  &.orange {
    background-color: #E6A83D !important;
  }
  &.default {
    background-color: #1E293B;
  }
  span#text{
      line-height: 1;
      font-size: 12px;
      margin-top: 5px;
  }
  &:hover{
      background-color: #1E293B;
      transform: scale(1.1);
  }
  &.active{
      background-color: #1E293B;
  }
}
/*@media (max-width: 992.5px){
  .card{
      width: 130px;
      margin-top: 10px;
  }
}*/
