<h2 mat-dialog-title>{{titulo}}</h2>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Empleado</mat-label>
            <input type="text"
                   placeholder="Buscar..."
                   aria-label="Number"
                   matInput
                   [formControlName]="'empleado'"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of resultadoBusqueda" [value]="option">
                {{option.nombreCompleto}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>El Empleado es obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Concepto</mat-label>
            <mat-select [formControlName]="'concepto'" name="concepto">
              <mat-option *ngFor="let c of conceptos" [value]="c.id">
                {{c.descripcion}} - {{c.puntos}} Pts
              </mat-option>
            </mat-select>
            <mat-error>El concepto es obligatorio</mat-error>

          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripcion</mat-label>
            <textarea type="text"
                   placeholder="Descripcion"
                   aria-label="Number"
                   rows="4"
                   matInput
                   [formControlName]="'descripcion'"></textarea>
                   <mat-error>La descripcion es obligatoria</mat-error>

          </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Agregar</button>
  </mat-dialog-actions>