footer{
    margin-top: 0px;
    .copyright{
        color: white;
        background-color: #3c404c;
        font-size: 12px;
    }
    .colors{
        height: 15px;
        .green{
            background-color: #3CD52E;
        }
        .blue-l{
            background-color: #47B5E3;
        }
        .blue{
            background-color: #0B3B59;
        }
    }
}