
footer{
    margin-top: 0px;
    height: 80px;
    .copyright{
        color: #000;
        background-color: #fff;
        font-size: 12px;
    }
    .colors{
        height: 15px;
        .green{
            background-color: #539BC1;
        }
        .blue-l{
            background-color: #47B5E3;
        }
        .blue{
            background-color: #0B3B59;
        }
        .orange{
            background-color: #539BC1;
        }
    }
}

.copy {
  font-weight: 500;
  color: #6b7a90;
}
