.card{
    width: 130px;
    margin-top: 10px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    height: 130px;
    transition: 300ms;
    span#number{
        font-size: 17px;
        font-weight: bold;
    }
    img{
        max-width: 90px;
        margin: auto;
    }
    &.blue {
      background-color: #1F2950 !important;
    }
    &.cyan {
      background-color: #3AAAB7 !important;
    }
    &.red {
      background-color: #B41A30 !important;
    }
    &.orange {
      background-color: #E6A83D !important;
    }
    &.default {
      background-color: #1E293B;
    }
    span#text{
        line-height: 1;
        font-size: 12px;
        margin-top: 5px;
    }
    &:hover{
        background-color: #1E293B;
        transform: scale(1.1);
    }
    &.active{
        background-color: #1E293B;
    }
}
/*@media (max-width: 992.5px){
    .card{
        width: 130px;
        margin-top: 10px;
    }
}*/
