.contentall {
  background-color: #e2e8f0;
  background-clip: padding-box;
    // min-height: calc(100vh - 225px);

}
.header{
  // background: url('/assets/img/banners/YSU\ 2_Banner\ Reconocimiento\ 1.png');
  height: 150px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  h1{
      color: #0B3B59;
      font-weight: bold;
      // text-transform: uppercase;
      font-size: 1.5rem;
      border-bottom: none;
      text-align: center;
  }
  .descripcion{
      color: #03496e;
      font-size: 22px;
      text-align: center;


      span{
          color: #539BC1;
      }
  }
}
.container-productos{
    min-height: calc(100vh - 310px);
}
.todos-productos{
    .title{
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
    }
    .line{
        width: 100%;
        height: 2px;
        margin-top: 32px;
        background-color: #e5e5e5;
        .green{
            width: 136px;
            height: 100%;
            background-color: #1e293b;
        }
    }
}
.sidebar{
    .puntos-disponibles{
        background-color: #f1f5f9;
        border-radius: 15px;
        .title{
            color: #004168;
            font-size: 1.5 rem;
            line-height: 1;
            // text-transform: uppercase;
            font-weight: bold;
        }
        .puntos{
            // background: url('../../../assets/img/inicio/Estrella_Plata.png') #004168;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            span{
                color: #004168;
                font-size: 50px;
                font-weight: 900;
                line-height: 1;
                // text-shadow: 5px 5px 5px black;
                z-index: 2;
                position: relative;
            }
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 15px;
                // background-color: rgba(0,0,0,0.25);
                z-index: 1;
            }
        }
    }
    .categorias-div{
        background: #0B3B59;
        border-radius: 15px;
        .categorias{
            .list-group-item{
                background: transparent !important;
                padding-top: 5px;
                border: none;
                padding-bottom: 5px;
                &.current, &:hover{
                    .img{
                        background: #539bc1 !important;
                    }
                    a{
                        color: #539bc1 !important;
                    }
                }
            }
            .img{
                display: inline-block;
                background: white;
                padding: 5px;
                border-radius: 50%;
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            a{
                padding-left: 8px;
                color: white;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}
.banner-footer{
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 35%);
    padding: 48px;
    margin-bottom: 120px;
    align-items: center;
    i{
        padding: 18px 20px;
        background: #1e293b;
        color: white;
        margin-right: 24px;
        border-radius: 50%;
        font-size: 28px;
    }
}
@media (max-width: 767.98px){
    .todos-productos{
        .title{
            text-align: center;
        }
        .categorias{
            display: grid;
            justify-content: inherit;
        }
    }
    .banner-footer{
        text-align: center;
        i{
            margin: auto;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 576px){
    .header{
        h1{
            text-align: center;
        }
    }
}
