<app-carrito-store></app-carrito-store>
<div class="header">
    <div class="container" style="height: 100%;">
        <div class="row align-items-center" style="height: 100%;">
            <div class="col-md-12">
                <h1>Aplaudir a otros</h1>
                <p class="descripcion m-0">Aquí podrás ver las competencias que has observado en otros.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-principal">
    <div class="row">
        <div class="col-md-12 order-1 order-md-0">
            <div class="row">
                <div class="col-md-12 boton-reconocer">
                    <div class="col-md-12 mt-2 mb-2">
                        <a class="btn btn-large reconocer" routerLink='enviar-reconocimiento'>Aplaudir a alguien</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <h1 class="mt-3 mb-3 pb-3">Aplausos otorgados</h1>
                </div>
                <div class="col-md-12 pt-4 competencias">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center mb-2" *ngIf="competencia_activa != ''">
                            <button type="button" class="btn btn-dark borrar-seleccion" (click)="borrarFiltro()">X Borrar
                                selección</button>
                        </div>
                        <div class="col" *ngFor="let competencia of competencias">
                            <ho1a-BloqueCompetencias [competencia]="competencia"
                                [competencia_activa]="competencia_activa" (clickCompetencia)="filtrarDatos($event)">
                            </ho1a-BloqueCompetencias>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 personas">
                    <div class="row">
                        <div class="col-md-12 mb-2" *ngFor="let persona of filtroPersonas">
                            <ho1a-BloquePersonas [persona]="persona" [type]="'reconocer-a-otros'"></ho1a-BloquePersonas>
                        </div>
                        <div *ngIf="filtroPersonas?.length == 0 && competencia_activa != '' && buscado"
                            class="col-md-12 text-center">
                            <div class="alert alert-info" role="alert">No hay resultados.</div>
                        </div>
                        <div *ngIf="competencia_activa == '' && competencias !== undefined && competencias.length > 0"
                            class="col-md-12 text-center">
                            <div class="alert alert-secondary" role="alert">Selecciona una competencia para ver quiénes
                                has reconocido.</div>
                        </div>
                        <div *ngIf="competencias === undefined || competencias.length == 0"
                            class="col-md-12 text-center">
                            <div class="alert alert-secondary" role="alert">Aún no has aplaudido a alguien.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ho1a-Loading *ngIf="(competencia_activa != '' && filtroPersonas?.length == 0) || loading"></ho1a-Loading>
